<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <clear />
        <add name="BizzyQuote.Data.Properties.Settings.BizzyQuoteConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=BizzyQuote;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>