@{
    ViewBag.Title = "Bizzy Quote";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                A new application created by John Ockers
            </p>
        </div>
    </section>
}
<h3>My TODO list:</h3>
<ol class="round">
    <li class="one">
        <h5>Gather Information</h5>
        We need to gather the numbers for materials, what they are and the average price for these.
    </li>

    <li class="two">
        <h5>Integrate Membership and logging in</h5>
        Make sure the ability to log in is working, set up the roles and lock down the functionality.
    </li>

    <li class="three">
        <h5>List Pages</h5>
        This will serve as both the list pages for customers to see their orders and searching ability for historical data.
    </li>
</ol>
