@{
    ViewBag.Title = "Bizzy Quote";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Online quoting and data storage
            </p>
        </div>
    </section>
}
<h3>What Bizzy Provides:</h3>
<ol class="round">
    <li class="one">
        <h5>Fast Easy Quotes</h5>
        You enter the measurements, set the prices, we'll do all the math for you.
    </li>
    
    <li class="two">
        <h5>Flexiblity</h5>
        We built the system to be used right out of the box, but if your company has specific products or formulas, Bizzy provides management tools to allow you to customize your personal system.
    </li>

    <li class="three">
        <h5>Access from Anywhere</h5>
        Whether you're at home, work, or even on your phone in the field, you'll have access to all of your company data from anywhere.  Go back and visit any historical record and you can print out material lists and export .CSV files.
    </li>

    <li class="four">
        <h5>Safety and Security</h5>
        Bizzy quote uses the most trusted and secure software on the market so you know your documents will never be lost or stolen.
    </li>
</ol>
