@{
    ViewBag.Title = "Pricing";
}

<h2>@ViewBag.Title</h2>

<p>Pricing for BizzyQuote is done automatically on a per use basis.  We have a monthly minimum which includes 5 quotes for $50, after that the price gets cheaper with the more you use it.</p>

<table class="bizzy-table">
    <thead>
        <tr>
            <th># of Quotes</th>
            <th>Price per Quote</th>
        </tr>
    </thead>
    <tr>
        <td>First 5</td>
        <td>Included in Monthly Charge</td>
    </tr>
    <tr>
        <td>Next 5</td>
        <td>$10.00</td>
    </tr>
    <tr>
        <td>Additional 10</td>
        <td>$8.00</td>
    </tr>
    <tr>
        <td>Additional 10</td>
        <td>$7.00</td>
    </tr>
    <tr>
        <td>Each Additional</td>
        <td>$5.00</td>
    </tr>
    <tfoot></tfoot>
</table>
